*{
    margin: 0;
    padding: 0;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 6rem;
    flex-direction: column;
    background-image: url("img/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}
input {
    display: none;
}

.title {
    width: 100%;
    height: 50px;
    text-align: center;
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: nowrap;
    perspective: 900px;
}

.container2 {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: nowrap;
    perspective: 900px;
    margin-top: -80px;
}

.item {
    border-radius: 0.4rem;
    overflow: hidden;
    cursor: pointer;
    width: 30%;
    transition: .5s all ease;
    transform: rotateX(45deg) scale(0.7);
    box-shadow: 0px 5px 5px rgb(211, 209, 209);
}

.card1,.card2,.card3,.card4,.card5 {
    width: 200px;
    height: 300px;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    border-radius: 15px;
    background-image: url("img/backCover.png");
}

.item:hover {
    cursor: pointer;
    transform: rotate(0deg) scale(1);
    transition: .5s all ease;
    z-index: 400;
    box-shadow: 0 0px 0px rgba(211, 209, 209);
}

#charmander:checked~.container>.card1 {
    transform: rotateY(180deg) scaleX(-1);
    background-image: url("img/charmander.png");
}

#pikachu:checked~.container>.card2 {
    transform: rotateY(180deg) scaleX(-1);
    background-image: url("img/pikachu.png");
}

#gengar:checked~.container>.card3 {
    transform: rotateY(180deg) scaleX(-1);
    background-image: url("img/gengar.png");
}

#squirtle:checked~.container2>.card4 {
    transform: rotateY(180deg) scaleX(-1);
    background-image: url("img/squirtle.png");
}

#bulbassaur:checked~.container2>.card5 {
    transform: rotateY(180deg) scaleX(-1);
    background-image: url("img/bulbassaur.png");
}

label {
    display: block;
    width: 405px;
    height: 500px;
}